<h4>Post details </h4>
<p>
<%= @row['content'] %>
    <br />
        добавлен в: <%= @row['created_date']%>
   </p> 

  <h4>Коменты: </h4>

    <% @comments.each do |comment|%>
    
    <%= comment['content']%>
    <br />
   <span style="font-size: 75%; color: #999"> added comment :  <%= comment['created_date']%> </span>
    <hr />
    
    <%end%>

  <form action="/details/<%= @row['id']%>" method="POST" >
  <textarea name="content" class="form-control" rows="6" placeholder="введите комментарий... "></textarea>
  <br>
  <button type="submit" class="btn btn-primary ">Add comment</button>
</form> 